{% extends 'base.html.twig' %}

{% block body %}


    <h2>Dashboard home</h2>
    <div class="table-responsive">
        <p>Nothing to see here. Just use the side menu</p>
    </div>



{% endblock %}


