{% extends 'base.html.twig' %}

{% block body %}
    <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
        <h1>Dashboard</h1>
        <div class="table-responsive">
            <p>Nothing to see here. Use the Sidebar menu</p>
        </div>
    </main>


{% endblock %}