{% if messages|default('') %}
<div class="alert alert-{% if error|default(false) %}danger{% else %}primary{% endif %}" role="alert">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
</div>
{% endif %}